@-moz-document url("about:home"), url("about:newtab"){
    body {
        /*background-image: linear-gradient(239deg, #0d7a5d, #52d7df, #a652df) !important;
        background-size: 600% 600% !important;
        animation: GradientAnimation 23s ease infinite !important;*/
        
        background-image: linear-gradient(228deg, #b0eade, #bee8b7, #cbf368, #f3f068, #f3bf68, #f2beb9, #f1b9f2) !important; /* light */
        background-size: 2400% 2400% !important;
        
        animation: GradientAnimation 47s ease infinite !important;
    }
    
    @keyframes GradientAnimation {
        0%{background-position:0% 87%}
        50%{background-position:100% 14%}
        100%{background-position:0% 87%}
    }

}